@font-face {
    font-family: "Edu";
    src: url(./Fonts/EduQLDBeginner-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Edu";
}
body{
    background-color: #fa8072a1 !important;
}
.mainContainer{
    background-color: #7848a4ca;
    color: white;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px #000000);
}
button{
    width: 140px !important;
    outline: none;
    border: none;
    padding: 8px;
    border: 2px solid #fa8072;
    background-color: #32045c;
    color: white;
    box-shadow: 0px 2px 0px 2px #00000087;
}
button:hover{
    background-color: white;
    color: #32045c;
    position: relative;
    transition: 0.4s all linear;
}
.disappear{
    display: none;
}